<div class="mas-m-3 mas-flex">
  <div class="mas-mx-2">
    <button mat-button color="primary">Basic</button>
  </div>
  <div class="mas-mx-2">
    <button mat-raised-button color="primary">Raised</button>
  </div>
  <div class="mas-mx-2">
    <button mat-stroked-button color="primary">Stroked</button>
  </div>
  <div class="mas-mx-2">
    <button mat-flat-button color="primary">Flat</button>
  </div>
  <div class="mas-mx-2">
    <button mat-icon-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>


  <!--
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button> -->

</div>



<router-outlet></router-outlet>
